#add-comment-button {
  position: fixed;
  height: 70px;
  width: 180px;
  bottom: 88px;
  left: 825px;
  
}

#input-name {
  position: fixed;
  height: 40px;
  width: 400px;
  left: 600px;
  top: 25px;
}

#input-comment {
  position: fixed;
  top: 75px;
  left: 600px;
}

