.biginput, .bigbutton {
    z-index: 1000; /* Higher than other elements to ensure visibility */
}

.instructions {
  position: relative;
  left: 125px;
  top: 150px;
  text-decoration: none;
  color: lime;
  z-index: 6;
}
.users {
  position: relative;
  right: 175px;
  bottom: 350px;
}

.sideuserlist {
  width: 100px;
  position: relative;
  right: 190px;
  bottom: 375px;
}

.sideinput {
  width: 92px;
  height:25px;
  position: relative;
  right: 190px;
  bottom: 350px;
}
.sidebutton {
  width: 100px;
  position: relative;
  right: 190px;
  bottom: 350px;
}
h3 {
color: black;
}
#userlist {
   width 150px;
   position: fixed;
}

#listbutton {
   width: 150px;
   height: 75px;
   position: relative;
}

#username {
    width: 100px;
    height: 40px;
    position: relative;

}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: none;
    color: #50C878;
    user-select: none;
}

.container {
    margin-top: 120px; /* Adjust to ensure space between header and content */
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;
    position: relative;
    top: 75px;
    right: 100px;
}

.containertwo {
    position: relative;
    top: 40px;
}

.protest-strike-regular, header {
    font-family: "Rubik Spray Paint", system-ui;
    font-size: 400%;
    font-weight: 400;
    font-style: normal;
    background-color: none;
    color: #50C878;
    position: fixed;
    width: 100%;
    z-index: 6;
}

system-ui;
    font-size: 400%;
    font-weight: 400;
    font-style: normal;
    color: #cc5500;
    position: fixed;
    width: 100%;
    margin-top: 300px;
}


img {
    width: 150px;
    margin: 0 auto;
}

.entername {
    position: relative;
    left: 555px;
    top: 50px;
    color: #432000;
    background-color: #DCE1EB;
    border: 2px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik' ,sans-serif;
    margin: 5px;
    height: 10px;
    width: 375px;
}

.entercomment {
   position: relative;
    left: 135px;
    top: 100px;
    color: #432000;
    background-color: #DCE1EB;
    border: 2px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik' ,sans-serif;
    margin: 5px;
    height: 10px;
    width: 375px;
}

.biginput {
    color: #432000;
    background-color: #DCE1EB;
    border: 2px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik' ,sans-serif;
    margin: 5px;
    height: 10px;
    width: 375px;
    position: relative;
    right: 285px;
    top: 150px;
}

.bigbutton {
    color: ;
    background-color: cyan;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik' ,sans-serif;
    position: relative;
    left: 560px;
    top: 150px;
    width: 400px;
    height: 50px;
}

ul li:hover {
    background-color: black;
    cursor: text;
    z-index: 1;

 }

 ul {
     list-style-type: none;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
     gap: 0px;
     z-index: 2;

 }
 
 ul li {
    font-size: 20px;
    background-color: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
    z-index: 1;
    line-height: 100%;

}
 
li {
    display: row;
    word-spacing: 3px; 
    display: 400px;
    margin: 0.1rem;
    width: 400px;
    border-radius: 15px;
    position: relative;
    left: 100px;
    top: 60px;
    z-index: 1;
    height: 200px;

}
  link {
  color: blue;
}
video {
    width: 100%;
    height: 0%;
}
