/*.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #e02424;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Hide vertical scrollbar */
/*    position: relative;
    top: 550px;
}


.protest-strike-regular, header {
    font-family: "Rubik Spray Paint", system-ui;
    font-size: 400%;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #cc5500;
    position: fixed;
    width: 100%;
  }


input {
    font-family: "DynaPuff", system-ui;
    position: relative;
    top: 575px;
    left: 550px;
    width: 400px;
}


button {
    position: relative;
    top: 620px;
    left: 550px;
    width: 408px;
}
   
  ul {
    text-align: center;
    overflow-y: scroll;
    list-style-type: none;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-top: 25px;
    font-variation-settings:
      "wdth" 100;
}


/* unvisited link */
/*a:link {
    color: rgb(14, 18, 14);
    font-size: 50px;
    margin-top: 0px;
    font-weight: 1000;
    text-decoration: none;


}
 
  /* visited link */
 /* a:visited {
    color: red;
  }
 
  a:hover {
    color: blue;
  }
 
  a:active {
    color: blue;
  }


::-webkit-scrollbar {
    width: 0px;
  }
 
  .form-wrapper {
    position: fixed;
    bottom: 0;
    width: 60%;
}*/
